* {
  box-sizing: border-box;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: calc(100%);
}

#column-half {
  flex-basis: calc(100%/2);
}

body {
  margin: 0;
}

header > .container {
  background-color: blueviolet;
  height: 100px;
  max-width: 100%;
}

header > .container > h1 {
  color: white;
  font-size: xx-large;
  display: flex;
  justify-content: left;
  position: absolute;
  left: 20px;
  top: 10px;
  right: 0;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > h2 {
  color: black;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > input[type="image"] {
  width: 400px;
  height: 400px;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > label[for="title"] {
  font-size: large;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > label[for="PhotoURL"] {
  font-size: large;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > label[for="notes"] {
  font-size: large;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > input[type="text"][id="titlerow"] {
  width: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > input[type="text"][id="photorow"] {
  width: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > input[type="text"][id="notesrow"] {
  width: 400px;
  height: 150px;
  margin-top: 20px;
}

main.container > div[data-view="entry-form"] > div.row > div.column-full > form > button {
  border-radius: 10%;
  float: right;
  color: white;
  background-color: purple;
  margin-right: -3px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 575px;
  }

  header > .container {
    background-color: blueviolet;
    height: 100px;
    max-width: 100%;
  }

  header > .container > h1 {
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: left;
    position: absolute;
    left: 370px;
    top: 10px;
    right: 0;
  }

  main.container > div[data-view="entry-form"] > div.row > div.column-full > form > h2 {
    color: black;
  }

  main.container > div[data-view="entry-form"] > div.row > div#column-half > form > input[type="image"] {
    width: 400px;
    height: 400px;
  }

  main.container > div[data-view="entry-form"] > div.row > div#column-half > form > label[for="title"] {
    font-size: large;
    position: absolute;
    right: 0;
    margin-right: 420px;
    margin-top: -370px;
  }

  main.container > div[data-view="entry-form"] > div.row > div#column-half > form > input[type="text"][id="titlerow"] {
    width: 400px;
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: -350px;
    height: 40px;
  }

  main.container > div[data-view="entry-form"] > div.row > div#column-half > form > label[for="PhotoURL"] {
    font-size: large;
    position: absolute;
    right: 0;
    margin-right: 370px;
    margin-top: -300px;
  }

  main.container > div[data-view="entry-form"] > div.row > div#column-half > form > input[type="text"][id="photorow"] {
    width: 400px;
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 50px;
    margin-top: -290px;
    height: 40px;
  }

  main.container > div[data-view="entry-form"] > div.row > div.column-full > form > input[type="text"][id="notesrow"] {
    width: 850px;
    height: 150px;
    margin-top: 20px;
  }

  main.container > div[data-view="entry-form"] > div.row > div.column-full > form > button {
    border-radius: 10%;
    color: white;
    background-color: purple;
    position: absolute;
    right: 0;
    margin-right: 30px;
  }
}
